html {font-family: 'Open Sans', sans-serif;}
/* Typography */
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
h2, .h2 {
  color: #0b6369 !important;
}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  height: 7px;
  display:block;
  position: absolute;
  border-bottom:  7px solid #0b6369;
  border-radius: 3.5px;
  padding-top: .5em;
}
.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {
  color: #000 !important;
}

/* Mobile navbar centering */
@media (max-width: 992px) {
  #main_nav .navbar.align-self-center.d-flex {
    justify-content: center;
    margin-top: 1rem;
  }
  #main_nav .navbar.align-self-center.d-flex .nav-link {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Home */
#index_banner {
  background-image: url('./../img/banner-bg-01.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #0b6369 !important;
  text-decoration: none;
  font-size: 4em;
}
#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #0b6369 !important;
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, rgb(20, 73, 16) 66.666%, rgba(255,255,255,0) 99.999%);
	background-size: 300% 300%;
	background-position: 0% 100%;
	transition: .5s;
}
.service-work .service-work-vertical:hover {
	background-position: 0% 0%;
	transition: .5s;
}
.service-work .service-work-vertical:hover * {
	color: white;
	border-color: white;
	transition: .5s;
}
.recent-work.card{
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
	background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, rgb(20, 73, 16) 66.666%, rgba(255,255,255,0) 99.999%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}
/* About */
#work_banner {
  /* background-image: url('./../img/Untitled\ design\ \(1\).png'); */
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}
.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #7276ec;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #b1b3f5;
}
.why-us {
  background: rgb(239,239,253);
  background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  /* background-image: url('./../img/Untitled\ design\ \(1\).png'); */
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px;
}

/* Footer */
footer a.text-light:hover,
footer .text-light:hover {
  color: #0b6369 !important;
  transition-duration: 0.15s;
}

/* Background Color Override */
.bg-light {
  background-color: #dfe3e7 !important;
}

.bg-secondary {
  background-color: #dfe3e7 !important;
}

html, body {
  background-color: #dfe3e7 !important;
}

/* White Text to Black Text Override */
.text-white {
  color: #000 !important;
}

/* Ensure service filter / outline-primary active buttons show white text */
.filter-btn.active,
.filter-btn:active,
.filter-btn:hover,
.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  color: #fff !important;
}

/* Fix text-light visibility */
.text-light {
  color: #333 !important;
}

/* Icons in objective cards should be white */
.objective-icon i {
  color: #fff !important;
}

/* Objective card background - dark color */
.objective-icon.card {
  background-color: #2c3e50 !important;
}

/* Partner Logo Images */
.bg-secondary img {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
  width: auto;
}

/* Objective images (Aim section) */
.objective-img {
  max-height: 140px;
  width: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* Work single banner: force banner text to white only in this banner */
#work_single_banner .banner-content h1,
#work_single_banner .banner-content h3,
#work_single_banner .banner-content p {
  color: #fff !important;
}

/* Make only the bottom footer two lines white (copyright and tagline) */
footer p.text-lg-start.text-center.text-light.light-300,
footer p.text-lg-end.text-center.text-light.light-300 {
  color: #fff !important;
}

#work_single_banner .banner-content,
#work_single_banner .banner-content h1,
#work_single_banner .banner-content h3,
#work_single_banner .banner-content p {
  color: #0b6369 !important;
}

/* Mobile footer centering */
@media (max-width: 768px) {
  footer .col-lg-3 {
    text-align: center !important;
  }
  footer .col-lg-3 h3,
  footer .col-lg-3 h2,
  footer .col-lg-3 p,
  footer .col-lg-3 ul,
  footer .col-lg-3 .list-inline {
    margin-left: auto;
    margin-right: auto;
  }
  footer .list-unstyled li {
    text-align: center;
  }
  footer .list-inline {
    justify-content: center;
  }
  footer .navbar-brand {
    justify-content: center;
    display: flex;
  }
}